@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.page-wrapper{
    margin: 20px 60px;
}

/* HEADER -------------------------- */
header{
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    font-family: DM Sans;
    color: #D04F4F;
}
.header__title {
    font-size: 30px;
    text-align: center;
}
.header__logo{
    width: 40px;
}

/* FILTERS --------------------------- */
.filters{
    position: relative;
}

.filter__send-bt{
    position: absolute;
}

.filters__send-bt {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35px;
    border: none;
    background-color: unset;
}

.filters__search-bar {
    height: 55px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 35px 10px 15px;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #E7E7E7;
}

.filters__tag {
    border-radius: 3px;
    padding: 3px 30px 3px 10px;
    color: white;
    background-color: #3282F7;
}

.filters__tags {
    margin-top: 15px;
}