$body-max-width: 1250px;

@media (min-width: $body-max-width){
    body .page-wrapper{
        margin: 20px auto auto auto;
    }
}

// Mobile version
@media (max-width: 840px){
    .filters__advanced-search{
        div[data-info]{
            width: 100%;
            margin: unset;
            margin-bottom: 10px;
        }
    }
    div .recipes .recipes__card{
        max-width: 100%;
        min-width: unset;
        width: 100%;
    }
}