$asf-max-height : 100px;

@mixin advanced-sf($color){
    position: relative;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    background-color: $color;
    
    &__text-input{
        border: none;
        height: 70px;
        width: 100%;
        padding: 20px;
        font-weight: 600;
        color: white;
        background-color: transparent;
    }

    ::placeholder{
        color: white;
        opacity: 0.9;
    }

    i{
        position: absolute;
        right: 15px;
        top: 27px;
        color: white;
    }

    .advanced-search-field__tags{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
        margin-inline: 20px;
        margin-bottom: 20px;

        button{
            border: none;
            margin-right: 15px;
            background-color: transparent;
            color: white;
        }
    }
    // Advanced search list
    // ul{
    //     display: flex;
    //     flex-wrap: wrap;
    //     max-height: $asf-max-height;
    //     flex-direction: column;
    //     padding: unset;
    // }
    // li{
    //     margin-inline: 20px;
    //     button{
    //         border: none;
    //         margin-right: 15px;
    //         background-color: transparent;
    //         color: white;
    //     }
    // }
}

.advanced-search-field{
    @include advanced-sf($blue);
    &--green{
        @include advanced-sf($green);
    }
    &--orange{
        @include advanced-sf($orange);
    }
    
}
