$asf-max-height : 100px;

@mixin advanced-sf($color){
    position: relative;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    background-color: $color;
    
    &__text-input{
        border: none;
        height: 70px;
        width: 100%;
        padding: 20px;
        font-weight: 600;
        color: white;
        background-color: transparent;
    }

    ::placeholder{
        color: white;
        opacity: 0.9;
    }

    i{
        position: absolute;
        right: 15px;
        top: 27px;
        color: white;
    }

    // Advanced search list
    ul{
        max-height: $asf-max-height;
        padding: unset;
        column-count: 3;
    }
    li{
        margin-inline: 20px;
        max-width: 150px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        button{
            border: none;
            margin-right: 15px;
            background-color: transparent;
            color: white;
        }
    }
}

.advanced-search-field{
    @include advanced-sf($blue);
    &--green{
        @include advanced-sf($green);
    }
    &--orange{
        @include advanced-sf($orange);
    }
    
}
